
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #2e8b57;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
}

#logo {
  height: 85px;
  transition: all 0.3s ease;
}

#logo:hover {
  transform: scale(1.05);
}

nav {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 600px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav ul li a {
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 4px;
  transition: all 0.3s ease;
  text-decoration: none;
}

nav ul li a:hover {
  background-color:rgb(76, 109, 27) ;
  color: #fff;
  box-shadow: 0 4px 8px rgba(37, 37, 37, 0.3);
}

nav a{
  color: white;
}


#carrito{
  position: absolute;
  margin-left: 1340px;
   height: 37.5px;
}

#iniciosesion{
  position: absolute;
  margin-left: 1290px;
   height: 37.5px;
}


#iniciosesion:hover, #carrito:hover {
  transform: scale(1.1);
}


table {
  width: 100%;
  height: 450px;
  margin-top: 30px;
  border: 1px solid  #2e8b57;
}

tr,td {
border: 1px solid  #2e8b57;
width: 25%;
text-align: center;
}

#pri td{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

table a{
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.7s;
}

table a:hover{
    color:green;
    background-color: white;
    border: 2px solid green;
}

#info{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    color:  #2e8b57;
}

footer {
  margin-top: 40px;
  background-color: #2e8b57;
  color: #fff;
  padding: 45px 30px;
  text-align: center;
}

footer h2 {
  margin-bottom: 25px;
}

footer img {
  height: 80px;
  margin-bottom: 25px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

footer ul li a:hover {
  color: #ff6b35;
  text-decoration: underline;
}

footer p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 1.5;
}

